<div class="container w-75 mx-auto">
    <h3>Name : <%= user.name %></h1>
    <h3>Email : <%= user.email %></h3>
    <a class = "btn btn-primary" href = "/profile/edit">Edit</a>
    <br><br>
    <% if( books.length != 0 || electronics.length != 0 || vehicles.length != 0 || sports.length != 0 ) { %>
    <h2>List of Products you are selling </h2>
    <div>
        <% books.forEach(book => { %>
            <a href = "/books/<%=book.booktype%>/<%=book.id%>" > <img src= <%= book.ImagePath %> height="150" alt="Image"> </a>
            <h3><%= book.title %></h3>
            <a class="btn btn-primary" href="/books/<%=book.booktype%>/<%=book.id%>/edit">Edit</a>
            <%- include("../partials/delete_form", {url : `/books/${book.booktype}/${book.id}`}) %>
            <br><br>
        <% }); %>
        <% electronics.forEach(electronic => { %>
            <a href = "/electronics/<%=electronic.type%>/<%=electronic.id%>" > <img src= <%= electronic.ImagePath %> height="150" alt="Image"> </a>
            <h3><%= electronic.productName %></h3>
            <a class="btn btn-primary" href="/electronics/<%=electronic.type%>/<%=electronic.id%>/edit">Edit</a>
            <%- include("../partials/delete_form", {url : `/electronics/${electronic.type}/${electronic.id}`}) %>
            <br><br>
        <% }); %>
        <% vehicles.forEach(vehicle => { %>
            <a href = "/vehicles/<%=vehicle.type%>/<%=vehicle.id%>" > <img src= <%= vehicle.ImagePath %> height="150" alt="Image"> </a>
            <h3><%= vehicle.productName %></h3>
            <a class="btn btn-primary" href="/vehicles/<%=vehicle.type%>/<%=vehicle.id%>/edit">Edit</a>
            <%- include("../partials/delete_form", {url : `/vehicles/${vehicle.type}/${vehicle.id}`}) %>
            <br><br>
        <% }); %>
        <% sports.forEach(sport => { %>
            <a href = "/sports/<%=sport.type%>/<%=sport.id%>" > <img src= <%= sport.ImagePath %> height="150" alt="Image"> </a>
            <h3><%= sport.productName %></h3>
            <a class="btn btn-primary" href="/sports/<%=sport.type%>/<%=sport.id%>/edit">Edit</a>
            <%- include("../partials/delete_form", {url : `/sports/${sport.type}/${sport.id}`}) %>
            <br><br>
        <% }); %>
    </div>
    <% } %>
    
</div>