<div class="container">
    <h1>Cart</h1><br>
    <div class="flex-container">
        <% if( user.cart.books.length != 0 || user.cart.electronics.length != 0 || user.cart.vehicles.length != 0 || user.cart.sports.length != 0 || user.cart.others.length != 0 ) { %>
        <% user.cart.books.forEach(book => { %>
            <div class="item-container">
                <div class="image">
                    <a href = "/books/<%=book.booktype%>/<%=book.id%>" > <img src= <%= book.ImagePath %> height="250" alt="Image"> </a>
                </div>
                <div class="foot">
                    <h3><%= book.title %></h3>
                    <%- include("../partials/delete_form", {url: `/cart/books/${book.id}`}) %>
                </div>
            </div>
        <% }); %>
        <% user.cart.electronics.forEach(electronic => { %>
            <div class="item-container">
                <div class="image">
                    <a href = "/electronics/<%=electronic.type%>/<%=electronic.id%>" > <img src= <%= electronic.ImagePath %> height="250" alt="Image"> </a>
                </div>
                <div class="foot">
                    <h3><%= electronic.productName %></h3>
                    <%- include("../partials/delete_form", {url: `/cart/electronics/${electronic.id}`}) %>
                </div>
            </div>
        <% }); %>
        <% user.cart.vehicles.forEach(vehicle => { %>
            <div class="item-container">
                <div class="image">
                    <a href = "/vehicles/<%=vehicle.type%>/<%=vehicle.id%>" > <img src= <%= vehicle.ImagePath %> height="250" alt="Image"> </a>
                </div>
                <div class="foot">
                    <h3><%= vehicle.productName %></h3>
                    <%- include("../partials/delete_form", {url: `/cart/vehicles/${vehicle.id}`}) %>
                </div>
            </div>
        <% }); %>
        <% user.cart.sports.forEach(sport => { %>
            <div class="item-container">
                <div class="image">
                    <a href = "/sports/<%=sport.type%>/<%=sport.id%>" > <img src= <%= sport.ImagePath %> height="250" alt="Image"> </a>
                </div>
                <div class="foot">
                    <h3><%= sport.productName %></h3>
                    <%- include("../partials/delete_form", {url: `/cart/sports/${sport.id}`}) %>
                </div>
            </div>
        <% }); %>
        <% user.cart.others.forEach(other => { %>
            <div class="item-container">
                <div class="image">
                    <a href = "/others/<%=other.id%>" > <img src= <%= other.ImagePath %> height="250" alt="Image"> </a>
                </div>
                <div class="foot">
                    <h3><%= other.productName %></h3>
                    <%- include("../partials/delete_form", {url: `/cart/others/${other.id}`}) %>
                </div>
            </div>
        <% }); %>
        <% } else { %>
        <h2>Cart is Empty</h2>
        <% } %>
    </div>
    
</div>

