<div class="container">
    <h1>Cart</h1><br>
    <% if( user.cart.books.length != 0 ) { %>
    <% user.cart.books.forEach(book => { %>
        <a href = "/books/<%=book.booktype%>/<%=book.id%>" > <img src= <%= book.coverImagePath %> height="150" alt="Image"> </a>
        <h3><%= book.title %></h3>
        <%- include("../partials/delete_form", {url: `/cart/books/${book.id}`}) %>
        <br><br>
    <% }); } else { %>
    <h2>Cart is Empty</h2>
    <% } %>
</div>

