<div class="container mx-auto w-50">
    <h1>List your Book details</h1>
    <% if(locals.errorMessage != null) { %>
    <p><%= errorMessage %></p>
    <% } %>
    <form action="/sell/books" method="POST">
        <div class="mb-3">
            <label for = "title" class="form-label">Title</label>
            <input type = "text" class = "form-control" name="title" id = "title" placeholder="Enter Book Name/Title" value=<%= book.title %> >
        </div>
        <div class = "row mb-3">
            <div class = "col-sm-8">
                <label for = "author" class="form-label">Author</label>
                <input type = "text" class = "form-control" name="author" id = "author" placeholder="Enter Author Name" value=<%= book.author %> >
            </div>
            <div class = "col-sm-4">
                <label for = "type" class = "form-label">Type</label>
                <select class = "form-select" id = "type" name = "type">
                    <option value="educational">Educational</option>
                    <option value="entertainment">Entertainment</option>
                </select>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-sm-6">
                <label class="mb-2">Cover</label>
                <input type = "file" name='cover' class = "filepond">
            </div>
            <div class = "col-sm-6">
                <label for = "description" class="form-label">Description</label>
                <textarea class="form-control" rows="10" id = "description" name = "description"><%= book.description %></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-4">
                <label for = "price" class="form-label">Price</label>
                <input type = "number" min = "0" class = "form-control" name="price" id = "price" placeholder="Enter price in rupees" value=<%= book.price %> >
            </div>
            <div class="col-sm-3">
                <label for = "condition" class = "form-label">Condition</label>
                <select class = "form-select" id = "condition" name = "condition">
                    <option value="new">New</option>
                    <option value="used">Used</option>
                </select>
            </div>
        </div>
        <button type="submit" class = "btn btn-primary">Create</button>
        <a class="btn btn-danger" href="/sell">Cancel</a>
    </form>
    <br><br>
</div>
