<div class = "container-fluid">
    <% if( electronics.length != 0 ) { %>
    <h1><%= electronics[0].type %></h1>
    <br>
    <div class="flex-container">
    <% electronics.forEach( electronic => { %>
        <div class="item-container">
            <div class="image">
                <a href = "/electronics/<%= electronic.type %>/<%=electronic.id%>" > <img src= <%= electronic.ImagePath %> height="250" alt="Image"> </a>
            </div>
            <div class="foot">
                <h4><%= electronic.productName %></h4>
            </div>
        </div>
    <% }); } else { %>
    </div>
    <h1>No Products yet</h1>
    <% } %>
</div>